cask "{cask_token}" do
  version "{version}"
  {sha256_stanza}

  url "{archive_url}"
  name "mpv"
  desc "{description}"
  homepage "https://github.com/{repo}"

  depends_on arch: :arm64
  depends_on :macos

  app "mpv.app"
  binary "#{{appdir}}/mpv.app/Contents/MacOS/mpv"

  postflight_steps do
    run "/usr/bin/xattr",
        args:         ["-rd", "com.apple.quarantine", "{{{{appdir}}}}/mpv.app"],
        must_succeed: false
  end

  uninstall quit: "io.mpv"

  zap trash: [
    "~/Library/Caches/io.mpv",
    "~/Library/Logs/mpv.log",
    "~/Library/Preferences/io.mpv.plist",
    "~/Library/Preferences/mpv.plist",
  ]
end
